@page
@model ProjectShop.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/descri.css">
    <title>Document</title>
</head>

<body>
    <div>
        <h1 class="sub-title">@Html.DisplayFor(model => model.Product.Navn)</h1>
        <div class="desc-container">
            <div id="image-container" >
                <div class="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />
                </div>
                <div class="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>

                <div class="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>

                <div class="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>
            </div>

            <div id="text-container">
                <div class="desc-container__desc" id="item">
                    @Html.DisplayFor(model => model.Product.Beskrivelse)
                </div>


                <div class="desc-container__text" id="item">
                    <div class="sizes">
                        <b>Fås i disse størrelser:</b>
                        <ul class="list-left">
                            <li>@Html.DisplayFor(model => model.Product.Size)</li>
                        </ul>
                    </div>
                    <div class="colors">
                        <b>Fås i disse farver:</b>
                        <ul class="list-right">
                            <li>@Html.DisplayFor(model => model.Product.Farver)</li>
                        </ul>
                    </div>
                    <p class="price">Pris <br> @Html.DisplayFor(model => model.Product.Pris) kr.</p>
                </div>
            </div>
        </div>
    </div>
</body>