@page
@model ProjectShop.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/descri.css">
    <title>Document</title>
</head>

<body>
    <div>
        <div class="desc-container">
            <h1 class="sub-title">@Html.DisplayFor(model => model.Product.Navn)</h1>
            <div id="container">
                <div id="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>
                <div id="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>

                <div id="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>

                <div id="item">
                    <img src="@Url.Content(Model.Product.Billeder)" style="height:200px; width:200px;" />

                </div>
            </div>

            <div id="container">
                <div class="desc-container__text" id="item">
                    @Html.DisplayFor(model => model.Product.Beskrivelse)
                </div>


                <div class="desc-container__text" id="item">
                    <ul class="list-left">
                        Fås i disse størrelser:
                        <li>@Html.DisplayFor(model => model.Product.Size)</li>
                    </ul>
                    <ul class="list-right">
                        Fås i disse farver:
                        <li>@Html.DisplayFor(model => model.Product.Farver)</li>
                    </ul>
                    <p class="price">Pris <br> @Html.DisplayFor(model => model.Product.Pris) kr.</p>
                </div>
            </div>
        </div>
    </div>
</body>