@page
@model ProjectShop.Pages.Kvinder.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kvinde[0].Product.Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kvinde[0].Product.Pris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kvinde[0].Tøjtype.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kvinde[0].Product.Billeder)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kvinde) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Pris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tøjtype.Titel)
            </td>
            <td>
                <img src="@Url.Content(item.Product.Billeder)" style="height:40px; width:40px;" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.KvindeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.KvindeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.KvindeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
