@page
@model ProjectShop.Pages.Kvinder.KjolerModel

@{
    ViewData["Title"] = "Kjoler";
}

<h1>Kjoler</h1>
@foreach (var item in Model.Kvinde)
{
    <a asp-page="/Products/Details" asp-route-id="@item.ProductID">
        @Html.DisplayFor(modelItem => item.Product.Navn)
        @Html.DisplayFor(modelItem => item.Product.Pris)
        @Html.DisplayFor(modelItem => item.Tøjtype.Titel)
        <img src="@Url.Content(item.Product.Billeder)" style="height:40px; width:40px;" />
    </a>
}